.page-footer{
  background-color: #2F303A; 
}
.page-footer__list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 251px;
  align-content: center;
  flex-wrap: wrap;
}
.page-footer__contacts{
  list-style-type: none;
  padding: 0%; 
}
.page-footer__link{
  color: var(--white-color);
  text-decoration: none;
}
.page-footer__subtitle{
  margin-left: 30px;
}
.page-footer__text{
  color: var(--white-color);
}
.page-footer__button{
  width: 180px;
  height: 50px;
  font-size: 16px;
  font-weight: 700px;
  line-height: 1.875;
  text-align: center;
  color: var(--white-color);
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer; 
}
.page-footer__svg {
  fill: var(--white-color);
  height: 20px;
  width: 20px;
  position: absolute;
  top: 13px;
  right: 12px;
  bottom: 13px;
  }
  .page-footer__adress{
  margin-left: 215px;
  margin-right: 94px;
    
  }
  .page-footer__social{
  margin-right: 93px;
  flex-grow: 1;
  }
  .page-footer__subscribe{
  margin-right: 215px;
  }
  .page-footer__input{
  height: 50px;
  width: 280px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--subtitle-color);
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  }